[user]
	name = Travis Johnson
	email = travis@thisguy.codes
	signingkey = 5BC6BB9A
[push]
	default = simple
[core]
	editor = vim
[alias]
	ignoreprof = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	x = commit --message
	xa = commit --all --message
	a = add
	s = status
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
