[user]
	name = Travis Johnson
	email = travis@thisguy.codes
	signingkey = 0x037D9571E4A2A920
[push]
	default = simple
[core]
	editor = nv
[alias]
	ignoreprof = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	x = commit --message
	xa = commit --all --message
	a = add
	s = status
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
[rerere]
	enabled = true
[diff]
